{#  Inherit from layout #}
{% extends 'layout.html' %}

{% block content %}
    <h1 class="my-5 py-5 text-center">{{ movie.title }}</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ movie.poster }}"
                 class="card-img mb-5" alt="{{ movie.title }}">
        </div>
        <div class="col-md-8">
            <p class="card-text">
                {{ movie.plot }}
            </p>
            <p class="card-text">
                {% set keys = ["year", "director", "production", "actors", "awards", "runtime", "imdbRating", "boxOffice", "website" ] %}
                {% for key, value in movie.items() %}
                    {% if key in keys %}
                        {% if key == 'website' %}
                            <span class="font-weight-bold">{{ key|capitalize }}: </span>
                            <a href="{{ value }}">{{ value }}</a><br>
                        {% else %}
                            <span class="font-weight-bold">{{ key|capitalize }}: </span><span>{{ value }}</span><br>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock content %}
