{% extends "layout.html" %}
{% block content %}
    <h2>AAAAAAALAAAAAAAAAAARM!!!</h2>
    <p>What do you want to see here??</p>
    <p><b>GO BACK AND WORK, LAZY LOVER OF NAKED ASSES</b></p>
    <button><a href="{{ url_for( 'main.home' ) }}">GO AND WORK!</a></button>
    <p>This is redirect test :) Don't be so mad )))</p>


    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/iyrKDKh_iHk?autoplay=1&loop=1"
            frameborder="0" allow="autoplay; accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe></p>
{% endblock content %}
