{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<p>Author: {{ article.author }}</p>

<p>Title: {{ article.title }}</p>
<br>
<p>Description: {{ article.description|safe }}</p>


<a href="{% url 'update' article.id %}">Update</a>
<a href="{% url 'delete' article.id %}">Delete</a>
<hr>

{# Here I will withdraw all comments in a loop #}
<button type="button"><a href="{% url 'new_comment' article.id %}">Add comment</a></button>

{% for comment in comments %}
    <p>Author: {{ comment.author }}</p>
    <p>Date of the publication: {{ comment.timespan_created }}</p>
    <p>Comment: {{ comment.description|safe }}</p>
    <br>
{#    <button type="button"><a href="{% url 'reply_comment' comment.id %}">Reply</a></button>#}
        <button type="button"><a href="{% url 'reply_comment' comment.id %}">Reply</a></button>

    <div style="margin-left: 5%">
    {% for second_comment in second_comments %}
        {% if second_comment.comment_id == comment.id %}
            <p>Author: {{ second_comment.author }}</p>
            <p>Date of the publication: {{ second_comment.timespan_created }}</p>
            <p>Comment: {{ second_comment.description|safe }}</p>
            <br>
        {% endif %}
    {% endfor %}
    </div>
    <hr>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if comments.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ comments.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
        </span>

        {% if comments.has_next %}
            <a href="?page={{ comments.next_page_number }}">next</a>
            <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>