{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<p>Author: {{ article.author }}</p>

<p>Title: {{ article.title }}</p>
<br>
<p>Description: {{ article.description|safe }}</p>


<a href="{% url 'update' article.id %}">Update</a>
<a href="{% url 'delete' article.id %}">Delete</a>
<hr>
{#<button type="button">Comment</button>#}
{# Here I will withdraw all comments in a loop #}
<button type="button"><a href="{% url 'new_comment'%}">Add comment</a></button>

{% for comment in comments %}
    {% if comment.author != '' %}
        <p>Author: {{ comment.author }}</p>
    {% else %}
        <p>Author: Unknown</p>
    {% endif %}
    <p>Date of the publication: {{ comment.timespan_created }}</p>
    <p>Comment: {{ comment.description }}</p>
{% endfor %}