{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<h1>Origin comment</h1>
<p>Author: {{ origin_comment.author }}</p>
<p>Commented {{ origin_comment.timespan_created }}</p>
<p>Comment message: {{ origin_comment.description|safe }}</p>

<h1>Please enter your reply below</h1>
<form action="{% url 'reply_comment' id %}" method="post">
{#<form method="post">#}
    {% csrf_token %}

        {{ author }}
    {% if user.is_authenticated %}
        {% if author_email != "" %}
            <input type="hidden" name="author" value="{{ author_email }}" maxlength="500" required id="id_author">
        {% else %}
            <input type="hidden" name="author" value="{{ author_nickname }}@random.com" maxlength="500" required id="id_author">
        {% endif %}
        <p><label for="id_description">Enter your reply for comment:</label></p>
        <p>{{ form.description }}</p>
    {% else %}
       {{ form.as_p }}
    {% endif %}
{#{% comment_id=id  %}#}

    <button type="submit">Submit</button>
</form>